#root {
    /* max-width: 1280px; */
    /* margin: 0 auto; */
    /* padding: 2rem; */
    text-align: center;
    box-sizing: border-box;
  }
  
  /* ============= GLOBAL CSS =============== */
  
  *,
  ::after,
  ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 100%;
  } /*16px*/
  
  :root {
    /* colors */
    --primary-100: #e2e0ff;
    --primary-200: #c1beff;
    --primary-300: #a29dff;
    --primary-400: #837dff;
    --primary-500: #645cff;
    --primary-600: #504acc;
    --primary-700: #3c3799;
    --primary-800: #282566;
    --primary-900: #141233;
  
    /* grey */
    --grey-50: #f8fafc;
    --grey-100: #f1f5f9;
    --grey-200: #e2e8f0;
    --grey-300: #cbd5e1;
    --grey-400: #94a3b8;
    --grey-500: #64748b;
    --grey-600: #475569;
    --grey-700: #334155;
    --grey-800: #1e293b;
    --grey-900: #0f172a;
    /* rest of the colors */
    --black: #222;
    --white: #fff;
    --red-light: #f8d7da;
    --red-dark: #842029;
    --green-light: #d1e7dd;
    --green-dark: #0f5132;
  
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --backgroundColor: var(--grey-50);
    --textColor: var(--grey-900);
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 600px;
    --view-width: 90vw;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
      0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  
  body {
    background: var(--backgroundColor);
    /* background-color: red; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1;
    color: var(--textColor);
  }
  
  p {
    margin: 0;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
    font-family: var(--headingFont);
    font-weight: 400;
    line-height: 1;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
  }
  
  small,
  .text-small {
    font-size: var(--small-text);
  }
  
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .img {
    width: 100%;
    display: block;
    object-fit: cover;
  }



  /* buttons */
  
  .btn {
    cursor: pointer;
    color: var(--white);
    background: var(--primary-500);
    border: transparent;
    border-radius: var(--borderRadius);
    letter-spacing: var(--letterSpacing);
    padding: 0.375rem 0.75rem;
    box-shadow: var(--shadow-1);
    transition: var(--transition);
    text-transform: capitalize;
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .btn:hover {
    background: var(--primary-700);
    box-shadow: var(--shadow-3);
  }
  .btn-hipster {
    color: var(--primary-500);
    background: var(--primary-200);
  }
  .btn-hipster:hover {
    color: var(--primary-200);
    background: var(--primary-700);
  }
  .btn-block {
    width: 100%;
  }
  #loadAppBtn {
    margin-top: 4rem;
  }
  
  /* alerts */
  .alert {
    padding: 0.375rem 0.75rem;
    margin-bottom: 1rem;
    border-color: transparent;
    border-radius: var(--borderRadius);
  }
  
  .alert-danger {
    color: var(--red-dark);
    background: var(--red-light);
  }
  .alert-success {
    color: var(--green-dark);
    background: var(--green-light);
  }
  
  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading {
    width: 6rem;
    height: 6rem;
    border: 5px solid var(--grey-400);
    border-radius: 50%;
    border-top-color: var(--primary-500);
    animation: spinner 0.6s linear infinite;
    margin: 2rem auto;
  }
  
  /* title */
  
  .title {
    text-align: center;
  }
  .unitId {
    text-align: center;
    font-weight: 500;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
  }
  .titleUnderscore {
    background: var(--primary-500);
    width: 4rem;
    height: 0.25rem;
    margin: 0 auto;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
    border-radius: 2px;
  }
  
  /* Modding Tool CSS */
  h4,
  h5 {
    margin-top: 1rem;
  }
  .itemSlot{
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .skillBox {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.2rem;
    /* justify-content: space-between; */
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
  }
  
  .allItems {
    border: 3px dotted orange;
    /* display: none; */
    max-width: 50rem;
    justify-content: center;
    flex-direction: column;
  }
  

  .culture {
        /* flex-direction: row;
        flex-wrap: wrap;
        max-width: 90vw;
        justify-content:center; */
  }
  .cultureX {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100vw;
    justify-content: center;
    border: 5px solid blue;
    gap: 2rem;
}

  
  .summary{
    cursor: pointer;
    border: 1px solid gray;
    max-width: 15rem;
  }
  .summary:hover{
    background: var(--primary-300);
    box-shadow: var(--shadow-3);
    transform: scaleX(1.1);
  }
  
  
  .inputBlock {
    display: flex;
    justify-content: space-between;
    width: 12rem;
    /* border: 1px solid blue; */
    font-size: 0.9rem;
    /* text-align: left; */
  }
  

  .itemBlock {
    margin: 0.3rem;
    border-top: 3px solid var(--grey-900);
  }
  .selectorDiv {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
  }
  
  .selectorDiv p {
    font-weight: 500;
    padding: 0.1rem;
    font-size: 0.7rem;
    width: 6rem;
  }
  .selector {
    font-size: 0.7rem;
    width: 10rem;
    /* margin-left: 0.5rem; */
  }
  .selector .option {
    width: 4rem;
  }
  .unitCard {
    
    margin-top: 2rem;
    border: 3px solid grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
  }
  
  .unitCardInputs {
    margin-top: 0.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .inputBlock input {
    width: 4rem;
  }
  

  
  footer {
    margin-top: 8rem;
    background-color: var(--grey-300);
    /* height: 10rem; */
    width: 20rem;
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
  }
  .info {
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
    text-align: left;
    margin-left: 1rem;
    height: 100%;
  }
  .info a,
  p {
    line-height: 1.4;
  }
  
  .info p {
    margin-top: 0;
    margin-bottom: 0;
  }
  .info a {
    margin-bottom: 0;
  }
  